In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# load dataset from excel
df = pd.read_excel('mess.xlsx', sheet_name='Sheet1')
df.head()

         Date      Day Holiday   Category  Time  Output
0  18-09-2023   Monday      No  Breakfast  23.0     NaN
1  18-09-2023   Monday      No      Lunch  35.0     NaN
2  18-09-2023   Monday      No        Tea  33.0     NaN
3  18-09-2023   Monday      No     Dinner  40.0     NaN
4  19-09-2023  Tuesday     Yes  Breakfast  22.0     NaN